{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-75 mx-auto">
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="{{ serie.image }}" class="card-img-top img-fluid img-thumbnail" alt="{{ serie.name }}">
            </div>
            <div class="col-md-8 scroller" style="height: 85vh; overflow-y: scroll">
                <div class="card-body">
                    <h3 class="">{{ serie.name }}</h5>
                    <p class="resume">
                        {% if serie.overview is empty %}
                            Aucune description disponible.
                        {% else %}
                            {{ serie.overview }}
                        {% endif %}
                    </p>
                    <div class="d-flex align-items-center justify-content-around">
                        <form class="" method="post" action="{{ path('add_serie_to_favorites', {'id': serie.id}) }}">
                            <button type="submit" class="btn btn-outline-light">
                                Ajouter aux favoris
                            </button>
                        </form>
                        <ul class="list-unstyled">
                            <li class="card-text position"><b>Date de sortie : </b>{{ serie.publicationDate|date('d/m/Y') }}</li>
                            <li class="card-text "><b>Langue :</b>
                                {% if serie.language == "en" %}
                                    Anglais
                                {% elseif serie.language == "pl" %}
                                    Polonais
                                {% elseif serie.language == "ja" %}
                                    Polonais
                                {% else %}
                                    Français
                                {% endif %}
                            </li>
                            <li class="card-text">
                                <b>Note :</b> {{ serie.nbRates }}/10
                            </li>
                            <li class="card-text">
                                <i>
                                    {% if serie.isAdult == true %}
                                        Réservé a un public adultes.
                                    {% else %}
                                        Adapté tous publics.
                                    {% endif %}
                                </i>
                            </li>
                            <li class="card-text">Nb saisons : {{ serie.nbSeason }}</li>
                            <li class="card-text">Nb Episodes : {{ serie.nbEpisodes }}</li>
                        </div>
                    </div>
                    <div class="pt-3" style="border-top: 1px solid white;">
                        <h5 class="fw-bold">Acteurs :</h5>
                        <div class="d-flex overflow-scroll scroller">
                            {% for actor in actors %}
                            <div class="mx-1 overflow-y: scroll;"> 
                                <img src="{{ actor.urlPicture }}" class="" style="border-radius: 10px; object-fit: cover; height: 150px; width: 100px;" alt="photo de l'acteur non trouvé :">
                                {{ actor.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pt-3 mt-4" style="border-top: 1px solid white;">
                        <h5 class="fw-bold">Avis :</h5>
                        {% if avis is not empty %}
                            <h2>Vous avez laissé un avis :</h2>
                            <ul>
                                {% for avi in avis %}
                                    <li>{{ avi.username }} a noté {{ avi.rates }}/10 : {{ avi.description }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="d-flex justify-content-between align-items-center">
                                <p>Vous n'avez encore communiqué aucun avis sur ce Film.</p>
                                <a class="text-decoration-none btn btn-outline-light" href="{{ path('ajouter_avis_film', {'id': serie.id}) }}">
                                    Ajouter un avis
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-3 mt-4" style="border-top: 1px solid white;">
                        {% if opinions is not empty %}
                            <ul class="list-unstyled">
                                {% for opinion in opinions %}
                                    <li class="w-100 p-3">
                                        <img src="{{ opinion.avatarPath }}" class="mx-3" style="border-radius: 50px; object-fit: cover; height: 50px; width: 50px;" alt="photo de profil utilisateur non trouvé">
                                        <b>{{ opinion.username }}</b> - {% if opinion.rating is not empty %}{{ opinion.rating }}{% else %} NR (Non-Renseigné) {% endif %}/10 </br><br>
                                        {{ opinion.content }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Aucun opinion trouvé.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .scroller::-webkit-scrollbar{
            display: none;
        }
        .resume{
            text-align: justify;
        }
    </style>
{% endblock %}

