{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-75 mx-auto">
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="{{ movie.picturePath }}" class="card-img-top img-fluid img-thumbnail" alt="{{ movie.title }}">
            </div>
            <div class="col-md-8 scroller" style="height: 85vh; overflow-y: scroll">
                <div class="card-body">
                    <h3 class="">{{ movie.title }}</h5>
                    <p class="resume">
                        {% if movie.overview is empty %}
                            Aucune description disponible.
                        {% else %}
                            {{ movie.overview }}
                        {% endif %}
                    </p>
                    <div class="d-flex align-items-center justify-content-around">
                        <form class="" method="post" action="{{ path('add_movie_to_favorites', {'id': movie.id}) }}">
                            <button type="submit" class="btn btn-outline-light">
                                Ajouter aux favoris <i class="fas fa-heart"></i>
                            </button>
                        </form>
                        <ul class="list-unstyled">
                            <li class="card-text position"><b>Date de sortie : </b>{{ movie.releaseDate|date('d/m/Y') }}</li>
                            <li class="card-text "><b>Langue :</b>
                                    {% if movie.originalLanguage == "en" %}
                                        Anglais
                                    {% elseif movie.originalLanguage == "pl" %}
                                        Polonais
                                    {% else %}
                                        Français
                                    {% endif %}
                            </li>
                            <li class="card-text">
                                <b>Note :</b> {{ movie.voteAverage }}/10
                            </li>
                            <li class="card-text">
                                <i>
                                    {% if movie.isAdult == true %}
                                        Réservé a un public adultes.
                                    {% else %}
                                        Adapté tous publics.
                                    {% endif %}
                                </i>
                            </li>
                        </div>
                    </div>
                    <div class="pt-3" style="border-top: 1px solid white;">
                        <h5 class="fw-bold">Acteurs :</h5>
                        <div class="d-flex overflow-scroll scroller">
                            {% for actor in actors %}
                            <div class="mx-1 overflow-y: scroll;"> 
                                <img src="{{ actor.urlPicture }}" class="" style="border-radius: 10px; object-fit: cover; height: 150px; width: 100px;" alt="photo de l'acteur non trouvé :">
                                {{ actor.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pt-3 mt-4" style="border-top: 1px solid white;">
                        <h5 class="fw-bold">Avis :</h5>
                        {% if avis is not empty %}
                            <h2>Vous avez laissé un avis :</h2>
                            <ul>
                                {% for avi in avis %}
                                    <li>{{ avi.username }} a noté {{ avi.rates }}/10 : {{ avi.description }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="d-flex justify-content-between align-items-center">
                                <p>Vous n'avez encore communiqué aucun avis sur ce Film.</p>
                                <a class="text-decoration-none btn btn-outline-light" href="{{ path('ajouter_avis_film', {'id': movie.id}) }}">
                                    Ajouter un avis
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-3 mt-4" style="border-top: 1px solid white;">
                        {% if opinions is not empty %}
                            <ul class="list-unstyled">
                                {% for opinion in opinions %}
                                    <li class="w-100 p-3">
                                        <img src="{{ opinion.avatarPath }}" class="mx-3" style="border-radius: 50px; object-fit: cover; height: 50px; width: 50px;" alt="photo de profil utilisateur non trouvé">
                                        <b>{{ opinion.username }}</b> - {% if opinion.rating is not empty %}{{ opinion.rating }}{% else %} NR (Non-Renseigné) {% endif %}/10 </br><br>
                                        {{ opinion.content }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Aucun opinion trouvé.</p>
                        {% endif %}
                    </div>
<!-- 
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Avis</button>
                            <button class="nav-link" id="nav-addAvis-tab" data-bs-toggle="tab" data-bs-target="#nav-addAvis" type="button" role="tab" aria-controls="nav-addAvis" aria-selected="false">Mes avis</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            {% if opinions is not empty %}
                                <ul>
                                    {% for opinion in opinions %}
                                        <li>
                                            <img src="{{ opinion.avatarPath }}" class="card-img-top img-fluid img-thumbnail avatar_avis" alt="image avatar utilisateur">
                                        - {{ opinion.username }} - {{ opinion.rating }}/10 :<br></br>{{ opinion.content }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Aucun opinion partagé sur ce Film.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="nav-addAvis" role="tabpanel" aria-labelledby="nav-addAvis-tab" tabindex="0">
                            {% if avis is not empty %}
                                <h2>Avis existants :</h2>
                                <ul>
                                    {% for avi in avis %}
                                        <li>
                                            {{ avi.username }} a noté {{ avi.rates }}/10 : {{ avi.description }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Aucun avis ajouté.</p>
                            {% endif %}
                            <div>
                                <a class="text-decoration-none" href="{{ path('ajouter_avis_film', {'id': movie.id}) }}">
                                    <h5 class="card-title text-center custom-title">Ajouter un avis</h5>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .scroller::-webkit-scrollbar{
            display: none;
        }
        .resume{
            text-align: justify;
        }

    </style>
{% endblock %}

